<html>
<head>
    <title>BLOG PAGE</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="whole-page">
        <h1>BLOG PAGE</h1>
        <div class="navigation-bar">
            <a href="/mainPage" class="main-page-button">MAIN PAGE</a>
            <a href="/aboutPage" class="about-button">ABOUT PAGE</a>
        </div>
        <div class="data-container">
            <h2>HELLO THERE! THIS IS AN AMAZING HOMEPAGE.</h2>
        </div>
    </div>
    <script src="/index.js"></script>
</body>

</html>