<h1>Welcome to main page!</h1>
    <br>
    <div>This is main page.
         <br><br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sit porro sed possimus! Inventore hic quis recusandae, aperiam earum assumenda nesciunt minus ducimus. Repellendus nam, cumque quaerat non saepe eaque!
    </div>
