<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to main page!</h1>
    <br>
    <div>This is main page.
         <br><br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sit porro sed possimus! Inventore hic quis recusandae, aperiam earum assumenda nesciunt minus ducimus. Repellendus nam, cumque quaerat non saepe eaque!
    </div>
</body>
</html>